---
layout: "base"
---
<div class="title">
  <h1>{{ page.title }}</h1>
</div>

<div class="pageheader">
  {% include pageheader.html %}
</div>

<div class="top_ad">
  {% include top_ad.html %}
  <br>
</div>

{% if page.author %}
<div class="author">
  {% include author.html %}
</div>
{% endif %}

{% if page.cover %}
<!--div class="author">
  <img src="{{ site.baseurl }}{{ site.img }}/cover/16x9/{{ page.cover }}" alt="{{ page.title }}"/>
  <br>
  {% include pagetag.html %}
</div-->
{% endif %}

<div class="top_social">
  {% include social.html %}
</div>

<div class="content">
  {{content}}
</div>

<!--div class="row" >
  <br>
  {% include pre_and_next.html %}
</div-->

<div class="page_bottom_ad">
  {% include bottom_ad.html %}
</div>

<div class="related">
  {% include related.html %}
</div>

<div class="copyright">
  <br>
  {% include copyright.html %}
</div>
